﻿<!DOCTYPE html>
<html>
<head>
	<title>Elasticsearch Demo</title>
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" type='text/javascript'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
	<script src="https://code.angularjs.org/1.3.9/angular.min.js" type='text/javascript'></script>
	<script src="https://code.angularjs.org/1.3.9/angular-sanitize.js"></script>
	<script src="js/elasticsearch.angular.min.js" type='text/javascript'></script>
	<script src="js/elastic.min.js" type='text/javascript'></script>
	<script src="js/elasticui.min.js" type='text/javascript'></script>
	<script src='js/elif.js' type='text/javascript'></script>
	<script src="js/app.js" type='text/javascript'></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body ng-app="demo" ng-controller="IndexController" eui-index="indexName" eui-highlight="ejs.Highlight(name).preTags('<mark>').postTags('</mark>')" eui-enabled="true">

<nav class="grey lighten-5">
	<div class="nav-wrapper">
		<form>
			<div class="input-field ">
				<input type="search" id="search" class="form-control validate" placeholder="Search hotels by name, city, features(like wifi, bar,swimming,etc)" eui-query="ejs.QueryStringQuery(querystring)" ng-model="querystring" eui-enabled="querystring.length" required />
				<!-- Phrase-MatchQuery on field 'title' -->
				<!--<input type="search"  id="search" class="form-control validate"  eui-query="ejs.MatchQuery('name', querystring).type('phrase')" ng-model="querystring" eui-enabled="querystring.length" required  />-->

				<label for="search"><i class="mdi-action-search"></i></label>
				<i class="mdi-navigation-close"></i>
			</div>
		</form>
	</div>
</nav>
<p>&nbsp;</p>

<div class="container-fluid">
	<div class="row">
		<div id="sidebar" class="col s12 m4 l2">

			<h5>Type</h5>
			<eui-singleselect field="'property'" size="5"></eui-singleselect>
			<h5 ng-init="this.indexVM.filterData= true">Facility</h5>
			<ul class="nav nav-list" eui-aggregation="ejs.TermsAggregation('facility').field('facility').size(5)">
				<li ng-repeat="bucket in aggResult.buckets">
					<label class="checkbox" eui-filter="ejs.TermsFilter('facility', bucket.key)">
						<input type="checkbox" id="facility{{bucket.key}}" ng-model="filter.enabled">
						<label for="facility{{bucket.key}}">{{bucket.key}} ({{bucket.doc_count}})</label>
					</label>
				</li>
			</ul>

			<h5>City</h5>
			<ul class="nav nav-list" eui-aggregation="ejs.TermsAggregation('city_preferred').field('city_preferred').size(5)">
				<li ng-repeat="bucket in aggResult.buckets">
					<label class="checkbox" eui-filter="ejs.TermsFilter('city_preferred', bucket.key)">
						<input type="checkbox" id="city_preferred{{bucket.key}}" ng-model="filter.enabled">
						<label for="city_preferred{{bucket.key}}">{{bucket.key}} ({{bucket.doc_count}})</label>
					</label>
				</li>
			</ul>
			<h5>Ranking</h5>
			<ul class="nav nav-list" eui-aggregation="ejs.TermsAggregation('class').field('class').size(5)">
				<li ng-repeat="bucket in aggResult.buckets | orderBy:key">
					<label class="checkbox" eui-filter="ejs.TermsFilter('class', bucket.key)">
						<input type="checkbox" id="class{{bucket.key}}" ng-model="filter.enabled">
						<label for="class{{bucket.key}}">{{ bucket.key}} Star ({{bucket.doc_count}})</label>
					</label>
				</li>
			</ul>



			<!-- Be careful with large unanalyzed fields. Might impact performance -->
			<!--<h4>Tags</h4>-->
			<!--<ul class="nav nav-list" eui-aggregation="ejs.SignificantTermsAggregation('wifi').field('name').size(10)">-->
			<!--<li ng-repeat="bucket in aggResult.buckets">-->
			<!--<label class="checkbox" eui-filter="ejs.TermsFilter('wifi', bucket.key)">-->
			<!--<input type="checkbox" id="text{{bucket.key}}" ng-model="filter.enabled" />-->
			<!--<label for="text{{bucket.key}}">#{{bucket.key}} ({{bucket.doc_count}})</label>-->
			<!--</label>-->
			<!--</ul>-->
		</div>

		<div class="col s12 m8 l10 grey lighten-4">
			<div class="row">
				<div class="col s6">
					<h5>Results</h5>
					<p>{{(indexVM.results.hits.total | number) || 0}} results ({{indexVM.results.took || 0}}ms)</p>
				</div>
				<!--<div class="col s12">-->
				<!--<div class="right" eui-sort="ejs.Sort('class').order('desc')" eui-enabled="true">-->
				<!--Sort by:-->
				<!--<a class="btn btn-default" ng-click="sorting.enabled=true" role="button">Ranking</a>-->
				<!--<a class="btn btn-default" ng-click="sorting.enabled=false" role="button">Relevance</a>-->
				<!--<br/>-->
				<!--</div>-->
				<!--</div>-->
			</div>

			<section>
				<div ng-show="indexVM.loading" class="text-center" style="z-index: 10;position: absolute;margin-left: 25%;margin-top: 10%;">
					<img src="img/loadder.gif">
				</div>
				<article ng-hide="indexVM.loading" ng-repeat='doc in indexVM.results.hits.hits track by doc._id'>

					<div class="col s10 m6 l3">
						<div class="card small grey lighten-5">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" ng-src={{doc._source.photo_url}} alt="{{doc._source.name}}">
							</div>
							<div class="card-content">
	   		<span class="card-title activator grey-text text-darken-4">
					{{doc._source.name}}
					<i class="mdi-navigation-more-vert right"></i></span>

								<p><i class="fa fa-star font-orange" ng-repeat="t in getTimes(doc._source.class) track by $index"></i></p><br/>
								<address>{{doc._source.address}}</address>
								<div class="bottom-margin">
									<p>
										<b> Price Starts at : </b>
										<strong ng-bind-html="doc._source.currencycode | icon:this : 'gray'"></strong>
										{{doc._source.minrate}}

									</p>
								</div>

								<div class="card-reveal">
									<span class="card-title grey-text text-darken-4">{{doc._source.name}}<i class="mdi-navigation-close right"></i></span>

									<p class="context-padding">{{doc._source.desc_en}}</p><br/>
									<strong>No. of Rooms:</strong> {{doc._source.nr_rooms}}<br/>
									<a target="_blank" ng-href="{{doc._source.hotel_url}}">Hotel Link</a>
								</div>
							</div>
						</div>
					</div>
				</article>
			</section>

		</div>
		<p>&nbsp;</p>
		<p ng-hide="indexVM.loading" >
			<eui-simple-paging></eui-simple-paging>
		</p>

	</div>
</div>

</body>
</html>
